 /*==========  Non-Mobile First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    section {
        padding: 25px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) and (max-width : 992px){
    section {
        padding: 50px 10px;
    }

    section#banner 
    {
        form.login-form {
            background: rgba(255, 255, 255, 0.86);
            padding: 22px 22px;
            margin-top: 80px;
        }
    }

    footer {
        padding: 50px 0px;
        background: #D9D2BA;
    }

}


/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) and (max-width : 480px){

    h3{
        margin-bottom: 10px;
    }

    h4{
        text-align: center;
    }

    p{
        font-size: 15px;
        margin-bottom: 18px;
    }

    .section-header {
        margin-bottom: 30px;
        font-size: 25px;
    }

    nav.navbar{
        margin-top: -4px;
        padding-top: 0px;
        padding-bottom: 0px;

        .navbar-brand {
            font-size: 23px;
            color: #0087DC !important;
        }
    } 

    section {
        padding: 30px 0px 20px 0px;
    }

    section#banner {
        height: 65vh;
        background: url(/img/mobile/banner.jpg) 54% 0% no-repeat;
        background-size: cover;

        h1{
            font-weight: 600;
            font-size: 21px;
            margin-bottom: 10px;
        }

        form.login-form
        {
            padding: 0px;
            padding-top: 15px;
            position: relative;
            top: 58px;

            .form-group{
                padding: 0 20px;
                margin-bottom: 5px;
            }

            label, .form-control {
                font-size: 15px;
                display: inline-block;
            }

            .form-control{
                width: 165px;
                margin-bottom: 5px;
            }

            #btn-login {
                font-size: 17px;
                margin-bottom: 0;
                border-radius: 0;
            }
        }
    }
    
    section#courses{
        .btn-primary{
            width: 100%;
            border-radius: 0px;
        }

        .content-wrapper {
            background: #FFFFFF;
            padding: 20px 0px 0px 0px;
            margin-bottom: 20px;

            p{
                padding: 13px;
                padding: 13px;
            }
        }
    }

    section#about {
        padding-top: 40px;
        padding-bottom: 25px;
    }

    section#contact{
        padding-bottom: 30px;

        hr{
            margin-top: 28px;
            border-top: 2px solid #cac6bb;
        }

        .btn{
            width: 100%;
        }
    }

    footer{
        padding: 0px;

        .container{
            padding: 0px;
        }

        .panel{
            background: none;

            .panel-title{
                text-align: left;
                font-weight: normal;
                padding: 10px 5px;

                i.fa{
                    font-size: 42px !important;
                    margin-top: -12px !important;
                    padding-right: 0px !important;
                    color: #524c4c;
                }
            }

            .panel-body {
                padding: 0px 11px;
                background: $gray;

                .listgroup{
                    margin-bottom: 15px;                   
                }

                .list-group-item {
                    position: relative;
                    display: block;
                    padding: 0px 13px 10px;
                    margin-bottom: 0;
                    background-color: #fff;
                    border: none;
 
                    a{
                        border-bottom: 1.8px solid #e2e2e2;
                        padding-bottom: 10px;
                    }                   
                }
 
                .list-group-item:first-child {
                    border-radius: 0px !important;
                    padding-top: 12px !important;
                }               

                .list-group-item:last-child {
                    border-radius: 0px !important;
                }
            }
        }

        hr{
            display: none;
        }

         #copyright {
            text-align: center;
            padding-left: 12px;
            padding-right: 12px;
            padding-bottom: 10px;
        }       
    }
}